{
  "presets": [
    "env",
    "react"
  ],
  "plugins": [
    "transform-decorators-legacy",
    "transform-object-rest-spread",
    [
      "transform-runtime",
      {
        "polyfill": false,
        "regenerator": true
      }
    ],
    [
      "import", {
        "libraryName": "antd-mobile",
        "style": "css"
      }
    ]
  ]
}
