{
  "presets": ["env", "react"],
  "plugins": [
    "transform-decorators-legacy",
    "transform-object-rest-spread",
    [
      "transform-runtime",
      {
        "polyfill": false,
        "regenerator": true
      }
    ],
    [
      "import", {
        "libraryName": "antd",
        "libraryDirectory": "es",
        "style": false // true(less) css false
      }
    ]
  ]
}
