/*
 * @Author: Roda.Wang 
 * @Date: 2018-08-17 20:20:54 
 * @Last Modified by: Roda.Wang
 * @Last Modified time: 2018-09-20 11:03:29
 */
/* my-menu */

.my-menu {
  >.am-flexbox-item{
    padding: 13px 0;
    margin-left: 0;
    text-align: center;
    border-bottom: 1px solid #ddd;
    a {
      display: block;
      color: #000;
    }
    &.my-menu-item {
      border-bottom: 1px solid #fe5073;
    }
  }
}
